* {
  padding: 0;
  margin: 0;
}

*::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  width: 100vw;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

.navbar {
  -webkit-box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.05);
  display: -ms-grid;
  display: grid;
  height: auto;
  -ms-grid-columns: ([nav-col-start] 1fr [nav-col-end])[12];
      grid-template-columns: repeat(12, [nav-col-start] 1fr [nav-col-end]);
  -ms-grid-column: 1;
  -ms-grid-column-span: 13;
  grid-column: 1 / 14;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .navbar {
    -ms-grid-column: 1;
    -ms-grid-column-span: 13;
    grid-column: 1 / 14;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    background: white;
    -ms-grid-rows: 70px min-content;
        grid-template-rows: 70px -webkit-min-content;
        grid-template-rows: 70px min-content;
  }
}

.navbar .showMenu {
  pointer-events: visible;
  opacity: 1;
}

.navbar-brand {
  font-size: 2.4rem;
  font-family: "Playfair Display", serif;
  margin-right: auto;
  text-decoration: none;
  grid-column: nav-col-start 3 / nav-col-start 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  color: #191847;
}

@media screen and (max-width: 1024px) {
  .navbar-brand {
    grid-column: nav-col-start 1 / nav-col-start 4;
    padding-left: 1.5rem;
  }
}

.navbar-mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-mobile-menu {
    display: block;
    -ms-grid-column: 13;
    grid-column: 13 / 13;
    padding-right: 1.5rem;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    outline: none;
  }
}

.navbar-mobile-menu .hamburger-box .hamburger-inner {
  width: 40px;
}

.navbar-mobile-menu .hamburger-box .hamburger-inner::before {
  width: 30px;
}

.navbar-mobile-menu .hamburger-box .hamburger-inner::after {
  width: 35px;
}

.navbar .is-active .hamburger-box .hamburger-inner {
  width: 40px;
}

.navbar .is-active .hamburger-box .hamburger-inner::before {
  width: 30px;
}

.navbar .is-active .hamburger-box .hamburger-inner::after {
  width: 40px;
}

.navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 2000;
  grid-column: nav-col-start 6 / nav-col-end 10;
}

@media screen and (max-width: 1024px) {
  .navbar-links {
    grid-column: nav-col-start 8 / nav-col-start 13;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin: 0;
    width: 100%;
    padding-right: 0;
    background: white;
    -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 37px 37px;
    opacity: 0;
    pointer-events: none;
    grid-column: nav-col-start 1 / 14;
    grid-row: 2 / -1;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
  }
}

.navbar-link {
  font-size: 1.6rem;
  text-decoration: none;
  font-family: "Poppins";
  color: #191847;
}

@media screen and (max-width: 1024px) {
  .navbar-link {
    display: block;
  }
}

.link--container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2 all;
  transition: 0.2 all;
  border-bottom: 2px solid transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link--container:hover {
  border-bottom: 2px solid #191847;
}

.link--container:not(:last-child) {
  margin-right: 5rem;
}

@media screen and (max-width: 768px) {
  .link--container {
    padding: 2rem 0;
  }
  .link--container:not(:last-child) {
    margin-right: 0;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 7rem calc(80vh - 7rem);
      grid-template-rows: 7rem calc(80vh - 7rem);
  -ms-grid-columns: ([col-start] minmax(min-content, 14rem) [col-end])[12];
      grid-template-columns: repeat(12, [col-start] minmax(-webkit-min-content, 14rem) [col-end]);
      grid-template-columns: repeat(12, [col-start] minmax(min-content, 14rem) [col-end]);
}

@media screen and (max-width: 730px) {
  .container {
    -ms-grid-rows: 7rem calc(90vh - 7rem);
        grid-template-rows: 7rem calc(90vh - 7rem);
  }
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 1fr))[8];
      grid-template-columns: repeat(8, minmax(-webkit-min-content, 1fr));
      grid-template-columns: repeat(8, minmax(min-content, 1fr));
  grid-row: 2 / -2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / 11;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1024px) {
  .hero {
    grid-column: 1 / -1;
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 730px) {
  .hero {
    -ms-grid-rows: min-content;
        grid-template-rows: -webkit-min-content;
        grid-template-rows: min-content;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
}

.hero-image-container {
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6 / 9;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .hero-image-container {
    -ms-grid-column: 8;
    grid-column: 8 / 8;
  }
}

@media screen and (max-width: 730px) {
  .hero-image-container {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2 / 10;
    height: 80%;
  }
}

@media screen and (max-width: 320px) {
  .hero-image-container {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1 / 10;
    height: 70%;
  }
}

.hero-image {
  height: 110%;
}

.hero-content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 1024px) {
  .hero-content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
  }
}

@media screen and (max-width: 730px) {
  .hero-content {
    grid-column: 1 / -1;
    text-align: center;
    padding-top: 8rem;
  }
}

.hero-heading {
  font-size: 7.4rem;
  grid-row: 2 / -1;
  line-height: 102.8%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/ 2;
  font-family: "Playfair Display", serif;
  margin-bottom: 3.6rem;
  color: #191847;
}

@media screen and (max-width: 1024px) {
  .hero-heading {
    font-size: 6rem;
  }
}

@media screen and (max-width: 730px) {
  .hero-heading {
    font-size: 5rem;
  }
}

@media screen and (max-width: 320px) {
  .hero-heading {
    font-size: 3rem;
  }
}

.hero__button:not(:last-child) {
  margin-right: 1rem;
}

.outlined-button {
  text-decoration: none;
  color: #191847;
  border: 0.683949px solid #000000;
  padding: 1rem 3rem;
  font-size: 2rem;
  border-radius: 1.3rem;
  font-family: "Poppins", sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.outlined-button:hover {
  background: #191847;
  color: white;
}

@media screen and (max-width: 1024px) {
  .outlined-button {
    padding: 1rem 3rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 730px) {
  .outlined-button {
    padding: 1rem 3rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .outlined-button {
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }
}

.wave {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}
/*# sourceMappingURL=style.css.map */